.title {
  text-align: center;
  font-size: 6rem;
  margin-top: 0rem;
  text-shadow: 1px 1px 2px rgba(177, 177, 249, 0.867); /* Sombra más sutil */
  color: rgb(13, 13, 128);
  padding: 4rem;
}

.container {
  width: 95%;
  max-width: 100rem;
  margin: 0 auto;
  /* align-items: center; */
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
  }
  .title {
    padding: 3rem;
  }
}
